body {
	margin:0px;
	padding:0px;
	background-color:#fafafa;
	font-size:14px;
	font-family:verdana, sans;
}

#container {
	margin:0 auto;
	width:1200px;
}

#header {
	background-color:#ff9900;
	margin:0;
	padding:10px;
	height:100px; /* Digunakan untuk mengatur tinggi header */
}
