* {margin:0; padding:0;}
 
body {
	
	background-color:#00FFFF;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}

art.headline {
	text-align: left;
}	

nav {
 margin:auto;
 text-align: center;
 width: 100%;
} 

nav ul ul {
 display: none;
}

nav ul li:hover > ul{
display: block;
width: auto;

}

nav ul {
 background: #53bd84;
 padding: 0 20px;
 list-style: none;
 position: relative;
 display: inline-table;
 width: 100%;
}

nav ul:after {
 content: ""; 
 clear:both; 
 display: block;
}

nav ul li{
 float:left;
}

nav ul li:hover{
 background:#666;
}

nav ul li:hover a{
 color:#fff;
}

nav ul li a{
 display: block;
 padding: 25px;
 color: #fff;
 text-decoration: none;
}

nav ul ul{
 background: #53bd84;
 border-radius: 0px;
 padding: 0;
 position: absolute;
 top:100%;
}

nav ul ul li{
 float:none;
 border-top: 1px soild #53bd84;
 border-bottom: 1px solid #53bd84;
 position: relative;
}

nav ul ul li a{
 padding: 15px 40px;
 color: #fff;
}

nav ul ul li a:hover{
 background-color: #666;
}

nav ul ul ul{
 position: absolute;
 left: 100%;
 top: 0;
}

form {
	width:20%;
    margin:10px auto;
	text-align=right;
	padding:5px 1100px;
}

style>
	form {
		width:500px;
        margin:50px auto;
		text-align=right;
		
    }
    .search {
        padding:8px 15px;
        background: #f0f8ff;
        border:2px solid #008080;
    }
    .button {
		position:relative;
        left:-4px;
        padding:10px 15px;
        border:0px solid #008080;
        background-color: #6B8E23;
        color:#fafafa;
        font-weight:bold;
    }
    .button:hover {
		background: #008080;
        color:#fafafa;
    }
    .button:active {
        background:#9ACD32;
    }
</style>

body {
width: 960px;
margin: 30px auto;
}

main {
display: flex;
}

.padding_this{
padding: 15px;
}

.logo,
.navigasi,
.konten,
.sidebar,
.footer {
margin-bottom: 5px;
padding: 15px 0;
}

.logo {
width: 100%;
height: auto;
background: #99D9EA;
text-align: center;
color: #fff;
}
.navigasi {
width: 100%;
height: auto;
background: #99D9EA;
text-align: center;
}
.konten {
width: 70%;
background: #00FF00;
}
.sidebar {
width: 30%;
background: #C0C0C0;
}
.footer {
width: 100%;
background: #53bd84;
text-align: center;
}

.navigasi ul{
padding: 0;
list-style: none;
display: inline-block;
margin: 0;
}
.navigasi li{
float: left;
margin: 0 10px;
}